<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-2 col-sm-2">
      <label for="eventNameInput">{{eventNameLabel}}</label>
    </div>
    <div class="col-lg-4 col-md-2 col-sm-2">
      <input id="eventNameInput" placeholder="{{eventNameInputPlaceholder}}" value="{{eventNameInput}}">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-4 col-md-2 col-sm-2">
      <label for="eventDescriptionTextarea">{{eventDescriptionTextareaLabel}}</label>
    </div>

    <div class="col-lg-4 col-md-2 col-sm-2">
      <textarea id="eventDescriptionTextarea" placeholder="{{eventDescriptionTextareaLabel}}">{{eventDescriptionTextarea}}</textarea>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-4 col-md-2 col-sm-2">
      <label for="eventDateInput">{{eventDateInputLabel}}</label>
    </div>

    <div class="col-lg-4 col-md-2 col-sm-2">
      <input type="date" id="eventDateInput" value="{{eventDateInput}}">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-4 col-md-2 col-sm-2">
      <label for="eventOpinionLabel">{{eventOpinionLabel}} </label>
    </div>
    <div class="col-lg-4 col-md-2 col-sm-2">
      <input id="eventOpinionPositiveCase" type="radio" (change)="opinionChanged($event)" checked>{{eventOpinionPositive}}
      <br>
      <input id="eventOpinionNeutraleCase" type="radio" (change)="opinionChanged($event)">{{eventOpinionNeutrale}}
      <br>
      <input id="eventOpinionNegativeCase" type="radio" (change)="opinionChanged($event)">{{eventOpinionNegative}}
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-4 col-md-2 col-sm-2">
      <label for="eventPhotoRefInput">{{eventPhotoRefLabel}}</label>
    </div>
    <div class="col-lg-4 col-md-2 col-sm-2">
      <input type="text" id="eventPhotoRefInput" value="{{eventPhotoRefInput}}">
      <button id="eventPhotoRefButton" class="btn btn-primary" style="margin-left: 5px;" (click)="showPhoto()">{{eventShowButtonName}}</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-4 col-md-2 col-sm-2">
      <label for="eventVideoRefInput">{{eventVideooRefLabel}}</label>
    </div>
    <div class="col-lg-4 col-md-2 col-sm-2">
      <input type="text" id="eventVideoRefInput" value="{{eventVideoRefInput}}">
      <button id="eventVideoRefButton" class="btn btn-primary" style="margin-left: 5px;" (click)="showVideo()">{{eventShowButtonName}}</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-4 col-md-2 col-sm-2">
      <label for="eventMapArea">{{eventMapAreaLabel}}</label>
    </div>
    <div class="col-lg-4 col-md-2 col-sm-2">
      <app-places></app-places>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-4 col-md-2 col-sm-2"></div>
    <div class="col-lg-4 col-md-2 col-sm-2">
      <button id="eventSubmitButton" class="btn btn-primary" (click)="submit()">{{eventSubmitButtonName}}</button>
    </div>
  </div>
</div>