<!-- <div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-2 col-sm-2">
      <label for="eventNameInput">{{eventNameLabel}}</label>
    </div>
    <div class="col-lg-4 col-md-2 col-sm-2">
      <input id="eventNameInput" placeholder="{{eventNameInputPlaceholder}}" value="{{eventNameInput}}">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-4 col-md-2 col-sm-2">
      <label for="eventDescriptionTextarea">{{eventDescriptionTextareaLabel}}</label>
    </div>

    <div class="col-lg-4 col-md-2 col-sm-2">
      <textarea id="eventDescriptionTextarea" placeholder="{{eventDescriptionTextareaLabel}}">{{eventDescriptionTextarea}}</textarea>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-4 col-md-2 col-sm-2">
      <label for="eventDateInput">{{eventDateInputLabel}}</label>
    </div>

    <div class="col-lg-4 col-md-2 col-sm-2">
      <input type="date" id="eventDateInput" value="{{eventDateInput}}">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-4 col-md-2 col-sm-2">
      <label for="eventOpinionLabel">{{eventOpinionLabel}} </label>
    </div>
    <div class="col-lg-4 col-md-2 col-sm-2">
      <input id="eventOpinionPositiveCase" type="radio" (change)="opinionChanged($event)" checked>{{eventOpinionPositive}}
      <br>
      <input id="eventOpinionNeutraleCase" type="radio" (change)="opinionChanged($event)">{{eventOpinionNeutrale}}
      <br>
      <input id="eventOpinionNegativeCase" type="radio" (change)="opinionChanged($event)">{{eventOpinionNegative}}
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-4 col-md-2 col-sm-2">
      <label for="eventPhotoRefInput">{{eventPhotoRefLabel}}</label>
    </div>
    <div class="col-lg-4 col-md-2 col-sm-2">
      <input type="text" id="eventPhotoRefInput" value="{{eventPhotoRefInput}}">
      <button id="eventPhotoRefButton" class="btn btn-primary" style="margin-left: 5px;" (click)="showPhoto()">{{eventShowButtonName}}</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-4 col-md-2 col-sm-2">
      <label for="eventVideoRefInput">{{eventVideooRefLabel}}</label>
    </div>
    <div class="col-lg-4 col-md-2 col-sm-2">
      <input type="text" id="eventVideoRefInput" value="{{eventVideoRefInput}}">
      <button id="eventVideoRefButton" class="btn btn-primary" style="margin-left: 5px;" (click)="showVideo()">{{eventShowButtonName}}</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-4 col-md-2 col-sm-2">
      <label for="eventMapArea">{{eventMapAreaLabel}}</label>
    </div>
    <div class="col-lg-4 col-md-2 col-sm-2">
      <app-places></app-places>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-4 col-md-2 col-sm-2"></div>
    <div class="col-lg-4 col-md-2 col-sm-2">
      <button id="eventSubmitButton" class="btn btn-primary" (click)="submit()">{{eventSubmitButtonName}}</button>
    </div>
  </div>
</div> -->

<!-- <h2>Новое событие</h2>
<h3>
  <i>Создание нового события</i>
</h3> -->
<form [formGroup]="eventForm">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">{{eventFormName}}</h3>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label for="eventName">{{eventNameLabel}}</label>
        <input id="eventName" class="form-control" formControlName="eventName">
      </div>

      <div class="form-group">
        <label for="eventDescription">{{eventDescriptionLabel}}</label>
        <input id="eventDescription" class="form-control" formControlName="eventDescription">
      </div>
      <div class="form-group">
        <label for="eventDate">{{eventDateInputLabel}}</label>
        <input id="eventDate" type="date" class="form-control" formControlName="eventDate">
      </div>
      <div class="form-group">
        <div>
          <label>{{eventOpinionLabel}}</label>
        </div>
        <div>
          <label for="eventOpinionPositiveCase">{{eventOpinionPositive}}</label>
          <input id="eventOpinionPositiveCase" style="margin: 5px 10px 5px 10px" type="radio" formControlName="eventOpinion" [value]="eventOpinionPositive">
        </div>
        <div>
          <label for="eventOpinioneventOpinionNeutraleCase">{{eventOpinionNeutrale}}</label>
          <input id="eventOpinioneventOpinionNeutraleCase" style="margin: 5px 10px 5px 10px" type="radio" formControlName="eventOpinion"
            [value]="eventOpinionNeutrale">
        </div>
        <div>
          <label for="eventOpinionNegativeCase">{{eventOpinionNegative}}</label>
          <input id="eventOpinionNegativeCase" style="margin: 5px 10px 5px 10px" type="radio" formControlName="eventOpinion" [value]="eventOpinionNegative">
        </div>
      </div>
      <div class="form-group">
        <div>
          <label for="eventPhotoRef">{{eventPhotoRefLabel}}</label>
        </div>
        <input id="eventPhotoRef" formControlName="eventPhotoRef">
        <button mat-button id="eventPhotoRefButton" (click)="displayDialog('eventPhotoRef')" class="btn btn-primary" style="margin-left: 5px;">{{eventShowButtonName}}</button>

        <app-dialog [(visible)]="showDialog" [(url)]="eventRef" [(type)]="type"></app-dialog>
      </div>
      <div class="form-group">
        <div>
          <label for="eventVideoRef">{{eventVideoRefLabel}}</label>
        </div>
        <input id="eventVideoRef" formControlName="eventVideoRef">
        <button id="eventVideoRefButton" (click)="displayDialog('eventVideoRef')" class="btn btn-primary" style="margin-left: 5px;">{{eventShowButtonName}}</button>

        <app-dialog [(visible)]="showDialog" [(url)]="eventRef" [(type)]="type"></app-dialog>
      </div>
      <div class="form-group">
        <app-places [(inputCoords)]="inputCoords" [(displayType)]="displayType" (place)="onCoordsClicked($event)"></app-places>
      </div>
    </div>
    <div class="panel-footer">
      <button class="btn btn-primary" type="submit" (click)="submit()">{{eventSubmitButtonName}}</button>
    </div>
  </div>
</form>