doctype html

include  components/_head.pug

html
  head
  body
    .container
      .row
        .col-md-4
          .img
          .descrition
            .header Таблица размеров детских колгот
            .plan-text В этой статье мы опишем как правильно снять размеры для правильного подбора детских колгот
        .col-md-4
        .col-md-4
      .row
        .col-md-4
        .col-md-4
          .col-md-6
          .col-md-6
        .col-md-4
