* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  color: #fefefe;
}

section {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #26292e;
}

.firstPart {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  width: 1920px;
  height: 1030px;
  background: url('../img/Layer1.png');
}

.firstPart::after {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1d232a;
  opacity: 0.702;
  content: '';
}

.firstPart--text {
  position: absolute;
  top: 50%;
  text-align: center;
  text-transform: uppercase;
  font-size: 5em;
}

.secondPart {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 1030px;
  width: 1920px;
  height: 1030px;
  background: #1d232a;
}

.nav1 {
  position: absolute;
  width: 100%; // measure common size form model
  height: 100%;
}

.secondPart--text {
  position: absolute;
  top: 50%;
  text-align: center;
  text-transform: uppercase;
  font-size: 5em;
}

.nav--firstPart {
  position: absolute;
  height: 50px;
  width: 100%;
  background: #2f3238;
}

.nav-arrow {
  display: inline-block;
  height: 50px;
  width: 50px;
  font-size: 5em;
  text-align: center;
}

.nav-arrow-right {
  background-color: #de5e60;
}

.nav-right {
  position: absolute;
  display: inline-block;
  height: 50px;
  width: 60px;
  font-size: 5em;
  vertical-align: baseline;
  text-align: center;
  background-color: #26292e;
  right: 0;
}

.nav-point {
  position: absolute;
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  top: 25%;
}

.np1 {
  background-color: #6e7074;
  left: 47%;
}

.np2 {
  background-color: #ffffff;
  left: 50%;
}

.np3 {
  background-color: #de5e60;
  left: 53%;
}

.nav--menu {
  position: absolute;
  display: inline-block; // use flex-box
  flex-wrap: nowrap;
  text-transform: uppercase;
  top: 50px;
}

.nav--menu-logo {
  font-size: 4em;
  margin: 20px;
}

.nav--menu-items {
  display: inline;
  list-style: none;

}

.nav--menu-item {
  align-self: flex-end;
  font-size: 4em;
}
