* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  color: #666666; }

.topic {
  margin: 10px;
  font-family: "Pattaya", sans-serif;
  font-size: 6em;
  text-align: center; }

img {
  width: 150px;
  height: 170px;
  background-repeat: no-repeat;
  background-size: 295px 170px; }

article {
  display: flex;
  justify-content: center; }

.img1 {
  display: inline-block;
  width: 295px;
  height: 320px;
  background: url("../img/Layer1.png");
  background-repeat: no-repeat;
  background-size: 295px 320px; }

.img2 {
  display: inline-block;
  width: 295px;
  height: 320px;
  background: url("../img/Layer2.png");
  background-repeat: no-repeat;
  background-size: 295px 320px; }

.description {
  display: inline-block;
  width: 150px;
  height: 170px; }

.header {
  display: inline-block;
  width: 100% auto;
  height: 50% auto;
  font-size: 2.4em;
  color: #00ada5; }

.plan-text {
  width: 100% auto;
  height: 50% auto;
  font-size: 1.6em; }
