<input matInput type="text" placeholder="{{searchName}}" (keyup)="applyFilter($event.target.value)">
<mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="eventName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{eventColumnName}}</mat-header-cell>
        <mat-cell *matCellDef="let event">{{event.eventName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="eventDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{eventDateColumnName}}</mat-header-cell>
        <mat-cell *matCellDef="let event">{{event.eventDate}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="editButton">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let event" (click)="$event.stopPropagation()">
            <button mat-button class="btn btn-primary" [routerLink]="['/event', event.eventId]">
                {{editEventButtonName}}
            </button>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="removeButton">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let event" (click)="$event.stopPropagation()">
            <button mat-button class="btn btn-primary" (click)="removeEvent(event.eventId)">
                {{removeEventButtonName}}
            </button>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<div *ngIf="empty">No results</div>
<br>
<button class="btn btn-primary" (click)="removeEvents()">{{clearEventsButtonName}}</button>