* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font:
}

body {
  position: relative;
}

.topPart {
  position: absolute;
  height: 33vh;
  width: 100%;
  top: 0;
  background-color: #f74c55;
}

.topPart::after {
  position: absolute;
  height: 100%;
  width: 100%;
  right: 50%;
  border-radius: 50%;
  background-color: #fb636b;
  content: '';
  overflow: hidden;
}

.header {
  position: absolute;
  z-index: 5;
  color: white;
}

/* .menu {
  display: inline-flex;
} */

.topMenu {
  text-transform: uppercase;
  margin-left: 30px;
}
